* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none !important;
}

.container {
  width: 100%;
}

.row.navBar {
  background-color: rgb(212, 202, 202);
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 100;
  text-transform: uppercase;
  color: #222;
  cursor: pointer;
}

.homepage-link {
  text-decoration: none;
}

.search-Bar {
  display: none;
}

.homepage-image {
  background-image: url('../images/studio-ghibli-aesthetic-desktop-nz5b3a2t5knexi4s.jpg');
  background-size: cover;
  background-position: right center;
  width: 100%;
  height: 500px;
}

.homepage-bottom {
  background-color: rgb(153, 170, 136);
  color: rgb(255, 251, 251);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.mobile-line-break {
  display: block;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-shrink: 0;
}

.footer {
  background-color: rgb(223, 207, 192);
  color: rgb(212, 202, 202);
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  display: flex;
}

.icon {
  font-size: 2rem;
  color: #333;
  text-decoration: none;
  transition: transform 0.3s ease;
  transform: scale(1.2);
}

.navBarLink {
  display: none;
}

.filmography-image {
  background-image: url('../images/tumblr_135f8860e99cbb2d22dc92cb841f7544_d3daabb7_1280.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100px;
}

.overlay-text {
  display: none;
}

.filmography-container {
  background-color: rgb(144, 194, 231);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 10px;
}

.film-poster {
  width: 100%;
  height: auto;
  max-width: 150px;
  margin: 0 auto;
}

.favorites-page-container {
  background-color: rgb(30, 91, 138);
}

.favorites-image {
  background-image: url('../images/Screenshot\ 2024-12-02\ at\ 9.24.07\ AM.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100px;
}

.favorites-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  padding: 10px;
}

.favorites-poster {
  width: 100%;
  height: auto;
  max-width: 150px;
  margin: 0 auto;
}

.contact-form-image,
.contact-bottom {
  display: none;
}

label,
input,
textarea {
  display: block;
}

.contact-container {
  background-color: rgb(77, 23, 4);
  color: white;
  height: 100vh;
}

.contact-image-container {
  position: relative;
}

.contact-mobile-image {
  background-image: url('../images/download-2.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100px;
}

.contact-overlay-text {
  position: absolute;
  top: 50%; /* Centers the text vertically */
  left: 25%; /* Centers the text horizontally */
  transform: translate(-50%, -50%); /* Exact centering */
  color: white;
  font-size: 2em; /* Adjust the size as needed */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Adds a shadow to improve text visibility */
}

.filmography-page-container,
.favorites-container,
.contact-container {
  margin-bottom: 0; /* Remove any bottom margin */
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100$;
}

.input-box {
  padding: 10px;
  margin-bottom: 10px;
}

button {
  float: right;
  border-radius: 15px;
  margin-top: 25px;
  background-color: rgb(223, 207, 192);
  padding: 6px;
  cursor: pointer;
}

h4 {
  display: none;
}

/* .navBar {
  flex-direction: column;
  align-items: center;
} */

/* .search-Bar {
  width: 80%;
  margin-top: 10px;
}

.column-one-third a {
  margin: 10px 0;
  font-size: 1.2rem;
  margin-left: 0;
}

.footer {
  height: 120px;
}

h2 {
  font-size: 1.2rem;
} */

@media screen and (width >= 768px) {
  .mobile-line-break {
    display: inline;
  }

  .footer {
    display: none;
  }

  .filmography-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .favorites-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .overlay-text {
    display: inline-block;
  }

  .contact-form-image,
  .contact-bottom {
    display: inline-block;
  }

  .contact-mobile-image {
    display: none;
  }
}
